services:
  db:
    image: mysql:8.0
    environment:
        MYSQL_USER: ${DB_USER}
        MYSQL_PASSWORD: ${DB_PASS}
        MYSQL_DATABASE: ${DB_NAME}
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sq:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost"]
      timeout: 20s
      retries: 5
    ports:
      - 3306:3306      

  app:
    image: ${APP_IMAGE}
    environment:
        DATABASE_URL: "mysql+pymysql://${DB_USER}:${DB_PASS}@db:3306/${DB_NAME}"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 5000:5000

volumes:
    db_data:       
